body {
	background-color: black;
	font-family: verdana;
	text-align: center;
	
}

h1 {
	color: white;
	
}

h3 {
	color: aquamarine;
	font-size: 16px;
	text-decoration: underline;
	font-weight: normal;
	
}

.discover h1 {
	font-weight: normal;
	font-size: 50px;
	
}

.guide h1 {
	font-weight: 300;
	font-size: 42px;
	
}

.guide p {
	font-size: 21px;
	color: gray;
	text-decoration: none
	
}

.coming_soon h1 {
	font-size: 42px;
	font-weight: 300;
	
}

.copyright p {
	text-align: right;
	color: gray;
	font-size: 21px;
	
}